<%= form_with(model: @post, local: true) do |f| %>
  <div class="share-post">
    <%= f.text_area :content, placeholder: "What's on your mind?", size: "50x3" %>
  </div>
   <div class="justified"> <%= f.submit 'Share' %> </div>
<% end %>