<% @current_user.friend_requests.each do |user| %>
  <p> <%= user.first_name %> </p>
  <p> <%= user.email %> </p>
  <%= button_to "Accept friend request", accept_friend_request_path(user.id, current_user.id), method: :put %>
  <%= button_to "Reject friend request", delete_friend_request_path(user.id, current_user.id), method: :delete %>%
<% end %>
