/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
@import "rails_bootstrap_forms";

/* 
  Styling for navigation bar
*/

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.left {
  float: left;
  padding: 10px;
}

li.right {
  float: right;
  padding: 10px
}

li.left a,
li.right a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.left a:hover,
li.right a:hover {
  background-color: #111;
}


li {
  list-style-type: none;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #0275d8;
    border-color: #0275d8;
    color: white;
}


.share-post textarea {
  resize: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

div.justified {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.post-btn {
  width: 30rem;
}

.home-page {
  width: 75%;
  margin: auto;
}

.the-posts {
  width: 75%;
  margin: auto;

  h3 {
    text-align: center;
    margin-top: 2rem;
  }
}

.user-post {
  width: 75%;
  margin: auto;
}

.likes {
  width: 75%;
  margin: auto;
  display: flex;
}

.like-count {
  line-height: 2rem;
  margin-left: .5rem;
}

.button {
  width: 4rem;
}

.right {
  margin-left: auto;
}

.comment {
  width: 65%;
  margin: auto;
}

.add-comment {
  width: 65%;
  margin: auto;
}

.align {
  margin: auto;
}
.align-btn {
  width: 65%;
  text-align: center;
}
